{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>

<div class="container">
  <h4 class="">Songs:</h4>
  <ul>
    {% for song in songs %}
    <li>{{song.title}} by: {{song.artist}}</li>
    {%endfor%}
  </ul>
</div>

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/add-song">
    Add Song To Playlist
  </a>
</p>

{% endblock %}
