{% extends 'base.html' %} {% block content %}

<div class="card justify-content-center">
  <div class="card-header">
    <h1>{{ song.title }}!</h1>
    <p class="lead">&ndash; {{ song.artist }}</p>
  </div>

  <div class="container">
    <h3 class="card-body">Playlists:</h3>
    <ul>
      {% for playlist in playlists %}
      <div class="card p-3 mb-2" style="max-width: 300px">
        <h4>{{playlist.name}}</h4>
        <p>{{playlist.description}}</p>
      </div>

      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
